
.main_contact {
    margin: 2vh 0;
    padding: 0 20vw;
    display: flex;
    justify-content: space-around;
}

.main_contact > section {
    width: 30vw;
}

.main_contact > section >h2 {
    font-size: 50px;
    font-weight: bold;
}

.main_contact > section >h2 > span {
    color: #FFDA1B;
}

.text_inline {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.icon {
    width: 30px;
    margin-right: 4px;
}

.main_contact > form {
    width: 40%;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #0049C8;
}

.input_contact, .send_button {
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 100;
}
.main_contact > form > label {
    margin-top: 15px;
}
.main_contact > form > input {
    height: 35px;
}

.error {
    border-color: red;
}
.error_text{
    color: red;
}
.verified {
    border-color: green;

}

.main_contact > form > textarea {
    height: 180px;
    resize: none;
}

.send_button {
    margin: 40px 30px 0 30px;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-color: #0049C8;
    border-radius: 12px;
    color: #0049C8;
    cursor: pointer;
}

.send_button:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background-color: #0049C8;
    color: white;
}

@media screen and (max-width: 1440px) {
    .main_contact {
        padding: 0 10vw;
    }
    .main_contact > section > h2 {
        font-size: 40px;
    }
    .main_contact > form > textarea {
        height: 90px;
    }
}

@media screen and (max-width: 834px) {

    .main_contact {
        flex-direction: column;
        align-items: center;
        padding: 8vh 4vw;
    }
    .main_contact > section {
        width: 100%;
        margin-bottom: 30px;
    }

    .main_contact > section > h2 {
        font-size: 35px;
    }
    .main_contact > section > div > span {
        font-size: 14px;
    }
    .main_contact > form {
        margin: 0;
        width: 86%;
        border-radius: 20px;
    }

}

@media screen and (max-width: 425px) {
    .main_contact > section > h2 {
        font-size: 28px;
    }
}