.main_page {
    margin: 5vh 0;
    padding: 0 10vw;
    display: flex;
  }
  
  .main_page > figure > img {
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .main_page > section,
  .main_page > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .main_page > section > h1 {
    padding: 0 30px;
    color: #0049c8;
    font-size: 1.8rem;
  }
  
  .main_page > section > h2 {
    padding: 0 80px;
    font-size: 1.2rem;
  }
  
  .buttons_auth {
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
  }
  
  .buttons_auth > button {
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid #ffda1b;
    color: #333333;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .button_login {
    background-color: #ffda1b;
  }
  
  .button_login:hover {
    border-color: #ffffff;
    background-color: #0049c8;
    color: #ffffff;
  }
  
  .button_register {
    background-color: #ffffff;
  }
  
  .button_register:hover {
    border-color: #0049c8;
  }
  
  .buttons_auth > button:hover {
    transform: scale(1.03);
    transition: 0.3s;
    font-weight: 500;
  }
  
  @media screen and (max-width: 1024px) {
    .main_page > figure > img {
        width: 50vw;
      }
    .main_page > section > h1 {
      padding: 0 0;
      font-size: 1.3rem;
    }
  
    .main_page > section > h2 {
      padding: 0 20px;
      font-size: 1.1rem;
    }
  }
  
  @media screen and (max-width: 834px) {
    .main_page {
      flex-direction: column;
    }
    .main_page > figure {
      flex-direction: row;
    }
  }
  
  @media screen and (max-width: 425px) {
    .main_page {
      margin-top: 8vh;
    }
    .main_page > figure > img {
      display: none;
    }
  }
  