.main_product {
    margin: 8vh 0;
    padding: 0 15vw;
    display: flex;
  }
  
  .main_product > section > h2 {
    font-size: 1.8rem;
  }
  
  .main_product > section > ul > li {
    font-size: 1.2rem;
  }
  
  .main_product > figure {
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media screen and (max-width: 1440px) {
    .main_product {
      padding: 0 10vw;
    }
    .main_product > section > h2 {
      font-size: 1.2rem;
    }
    .main_product > section > ul > li {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .main_product {
      flex-direction: column;
    }
    .main_product > figure > img {
      display: none;
    }
    .main_product > section > h2 {
      font-size: 1.4rem;
    }
    .main_product > section > ul > li {
      font-size: 1.2rem;
    }
  }
  
  @media screen and (max-width: 834px) {
    .main_product > section > h2 {
      font-size: 1.2rem;
    }
    .main_product > section > ul > li {
      font-size: 1rem;
    }
  }
  