.button_request {
  height: fit-content;
  width: fit-content;
  background-color: #ffd91bba;
  color: #555;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
}

.button_request:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.unfollow_text {
  display: none;
  color: white;
}

.button_request.hover_unfollow:hover {
  background-color: #fb5151;
}
.button_request.hover_unfollow:hover .default_text {
  display: none;
}
.button_request.hover_unfollow:hover .unfollow_text {
  display: block;
}

.bg_blue {
  background-color: #0689f5;
  color: white;
}
.bg_blue:hover {
  background-color: #027de2;
}
.bg_white {
  background-color: white;
}
.bg_white:hover {
  border: 1px solid black;
}
