.search {
  display: flex;
  align-items: center;
  border: 1px solid #555;
  width: fit-content;
  border-radius: 8px;
  padding: 0 8px;
}

.search_icon {
  display: grid;
  place-items: center;
  height: 41px;
}

.search_input {
  height: 25px;
  width: 350px;
  font-size: 1.1rem;
  padding: 8px;
  border: none;
  outline: none;
  background-color: transparent;
}
