.user_request_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    margin: 4px 8px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  }
  
  .user_request_card:hover {
    box-shadow: 0px 0px 8px 0px #fbd051;
  }